<div class="card border-primary">
  <div class="card-body text-center">
    <h5 class="card-text text-primary">All : <a href="/index">{{totalCount}} Posts</a></h5>
    <h5 class="card-text text-primary">Alternative : <a href="/api/posts/Alternative">{{g1}} Posts</a></h5>
    <h5 class="card-text text-primary">Blues : <a href="/api/posts/Blues">{{g2}} Posts</a></h5>
    <h5 class="card-text text-primary">Classical : <a href="/api/posts/Classical">{{g3}} Posts</a></h5>
    <h5 class="card-text text-primary">Country : <a href="/api/posts/Country">{{g4}} Posts</a></h5>
    <h5 class="card-text text-primary">Dance : <a href="/api/posts/Dance">{{g5}} Posts</a></h5>
    <h5 class="card-text text-primary">Electronic : <a href="/api/posts/Electronic">{{g6}} Posts</a></h5>
    <h5 class="card-text text-primary">Hip-Hop : <a href="/api/posts/Hip-Hop">{{g7}} Posts</a></h5>
    <h5 class="card-text text-primary">Rap : <a href="/api/posts/Rap">{{g8}} Posts</a></h5>
    <h5 class="card-text text-primary">Jazz : <a href="/api/posts/Jazz">{{g9}} Posts</a></h5>
    <h5 class="card-text text-primary">Latin : <a href="/api/posts/Latin">{{g10}} Posts</a></h5>
    <h5 class="card-text text-primary">Pop : <a href="/api/posts/Pop">{{g11}} Posts</a></h5>
    <h5 class="card-text text-primary">R&B : <a href="/api/posts/R&B">{{g12}} Posts</a></h5>
    <h5 class="card-text text-primary">Soul : <a href="/api/posts/Soul">{{g13}} Posts</a></h5>
    <h5 class="card-text text-primary">Rock : <a href="/api/posts/Rock">{{g14}} Posts</a></h5>
    <h5 class="card-text text-primary">Metal : <a href="/api/posts/Metal">{{g15}} Posts</a></h5>
  </div>
</div>