<div class="card border-primary">
  <div class="card-body text-center">
    <p class="card-text text-primary">Alternative : <a href="">{{g1}} Posts</a></p>
    <p class="card-text text-primary">Blues : <a href="">{{g2}} Posts</a></p>
    <p class="card-text text-primary">Classical : <a href="">{{g3}} Posts</a></p>
    <p class="card-text text-primary">Country : <a href="">{{g4}} Posts</a></p>
    <p class="card-text text-primary">Dance : <a href="">{{g5}} Posts</a></p>
    <p class="card-text text-primary">Electronic : <a href="">{{g6}} Posts</a></p>
    <p class="card-text text-primary">Hip-Hop/Rap : <a href="">{{g7}} Posts</a></p>
    <p class="card-text text-primary">Jazz : <a href="">{{g8}} Posts</a></p>
    <p class="card-text text-primary">Latin : <a href="">{{g9}} Posts</a></p>
    <p class="card-text text-primary">Pop : <a href="">{{g10}} Posts</a></p>
    <p class="card-text text-primary">R&B/Soul : <a href="">{{g11}} Posts</a></p>
    <p class="card-text text-primary">Rock : <a href="">{{g12}} Posts</a></p>
    <p class="card-text text-primary">Metal : <a href="">{{g13}} Posts</a></p>
  </div>
</div>